@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#f5eee7;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       main {
        display: flex;
        /* padding: 0px; */
      }
       .logo{
        width: 40px;
        height: auto;
        margin: 0;
      }
      
      .logo_title{
        display: flex;
        justify-content: center;
      }
      .logo_title img {
        width: 40px;
        height: auto;
        margin-right: 10px; /* Add spacing between logo and title */
      }

      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
      }
      
      header {
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        
      }
      
      header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      header h1 {
        font-size: 24px;
        color: #333333;
        align-self: center;
      }
      
      nav ul {
        list-style: none;
      }
      
      nav ul li {
        display: inline-block;
        margin-left: 20px;
      }
      
      nav ul li a {
        text-decoration: none;
        color: #333333;
      }
      
       .container3{

        height: 65vh;
        margin:auto;

       }

       .card3{

        border: none;
       }

       .card-header {
            padding: .5rem 1rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: none;
        }

        .btn-light:focus {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
        }

        .form-control{

          height: 50px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 14px;
        }

        .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none;

    }

    .input{

      position: relative;
    }

    .input i{

          position: absolute;
    top: 16px;
    left: 11px;
    color: #989898;
    }

    .input input{

      text-indent: 25px;
    }

    .card-text{

      font-size: 13px;
    margin-left: 6px;
    }

    .certificate-text{

      font-size: 12px;
    }

       
    .billing{
      font-size: 11px;
    }  

    .super-price{

          top: 0px;
    font-size: 22px;
    }

    .super-month{

          font-size: 11px;
    }


    .line{
      color: #bfbdbd;
    }

    .free-button{

          background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px;
    }


    .payment-card-body{

    flex: 1 1 auto;
    padding: 24px 1rem !important;

    }

    footer {
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        padding: 20px 0;
      }