.filters {
  width: 200px; /* Adjust width as needed */
  margin-right: 20px; /* Add margin to separate from product grid */
}

.container1 {
  padding: 20px;
  padding-top: 100px;
  background-color: #f9f9f9;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  z-index: 1;
  height: 100vh;
  position: fixed;
}

.container1 h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.container1 h3 {
  font-size: 1.2rem;
  margin-top: 15px;
}

.container1 select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style the button if needed */
.container1 button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container1 button:hover {
  background-color: #45a049;
}

.sidebar {
  width: 200px; /* Set width of the sidebar */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  flex: 0 0 auto; /* Maintain fixed width */
}

main {
  display: flex;
  /* padding: 0px; */
}

.shop{
  flex:1;
}

.filters {
  margin-bottom: 20px; /* Add margin to separate from other sidebar content */
}

header{
  
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
  
}